<!DOCTYPE html>
<html>
<head>
    <title>CaliOpen</title>
    <meta charset="utf-8" />
    {% block styles %}
    {% endblock %}

</head>
<body>
    <header>
        <h1 id="caliopen">CaliOpen</h1>
        <h2>Be Good</h2>
        <ul>
            <li><a href="/signin">Signin</a></li>
            <li><a href="/signup">Signup</a></li>
        </ul>
    </header>
    {% block content %}{% endblock %}
    <footer>
        <a href="https://caliopen.org">CaliOpen.org</a>
    </footer>
    {% block scripts %}
    {% endblock %}
</body>
</html>
